.mainBox {
    background-color: white;
}

.sideButtons button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    padding-bottom: 12px;
    width: 95%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.sideButtons button:hover {
    text-decoration: underline;
}

.sideButtons div {
    margin-bottom: 12px;
    width: 90%;
    height: 2px;
    background-color: white;
    border-radius: 5px;
}

.teamContainer {
    max-width: 40%;
    border: 1px solid grey;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
}

.teamContainerTitle {
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}

.BTN {
    border: none;
    background-color: transparent;
    color: #0088cc;
}

.BTN:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.teamDivider {
    background-color: grey;
    height: 2px;
    width: 95%;
}

.projectContainer {
    text-align: start!important;
    flex-wrap: wrap;
}

.projectPod {
    border-radius: 100px;
    border: 1px solid gray;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    display: inline-block;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.projectPod:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.engineerPod {
    border: 0.5px solid grey;
    padding: 0.3rem;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.engineerPod:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.table {
    table-layout: auto !important;
}

.tableContainer {
    max-height: 150px;
    overflow-y: scroll;
}

.tableContainerAddE {
    max-height: 50vh;
    overflow-y: scroll;
}

.tableRowE {
    border: 1px solid grey;
}

.tableRowP {
    border: 1px solid grey;
}

.tableRowE:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.tableRowP:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.tableRowClicked {
    background-color: rgba(0, 136, 204, 0.5)!important;
}

.tableRowHeader {
    border: 1px solid grey;
}

.tableHeaderE:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.tableHeaderP:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.tableHeader:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.tableRowSpacer {
    height: 10px;
}

.modalWidth {
    max-width: 75%;
}

.teamListLable {
    border: 0.5px solid grey;
    padding: 0.3rem;
}

.teamListLable:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.teamListCB:checked+.teamListLable {
    background-color: rgba(0, 136, 204, 0.5)!important;
}

.teamsListContainer {
    max-height: 200px;
    overflow-y: scroll;
}

.toast {
    opacity: 1!important;
}